<div class="lead">
    We are a diverse team of scientists investigating health and cost impacts of
    population interventions
</div>
<h2 class="aligned-title">Our aims</h2>
<p>
    To provide robust evidence on the health and cost impacts of population
    interventions, through causal inference and sophisticated simulation
    approaches from epidemiology, economics and data science.
</p>
<p>
    To impact policy through the provision of high quality, timely and
    actionable evidence on how interventions change health, health inequalities,
    future health expenditure and working age economic productivity.
</p>
<div class="spacer" style="padding: 15px 0"></div>
<h2 class="aligned-title">Our staff</h2>
<p>
    Meet our diverse team of epidemiologists, economists, mathematicians and
    computer scientists. If you are interested in joining our team, contact us.
</p>
<ul class="staff-listing min">
    <li>
        <div class="profile">
            <div class="frame">
                <img alt="" src="/img/profile-pictures/TB.jpg" />
            </div>
        </div>
        <div class="details">
            <a
                href="https://findanexpert.unimelb.edu.au/profile/773939-tony-blakely"
            >
                Professor Tony Blakely</a
            >,
            <em>
                Unit Head, Epidemiologist, & Public Health Medicine Specialist
            </em>
        </div>
    </li>
    <li>
        <div class="profile">
            <div class="frame">
                <img alt="" src="/img/profile-pictures/KH.jpg" />
            </div>
        </div>
        <div class="details">
            <a href="https://www.researchgate.net/profile/Kirsti-Hakala">
                Dr Kirsti Hakala Assendelft</a
            >,
            <em>Project Coordinator</em>
        </div>
    </li>
    <li>
        <div class="profile">
            <div class="frame">
                <img alt="" src="/img/profile-pictures/VS.jpg" />
            </div>
        </div>
        <div class="details">
            <a
                href="https://findanexpert.unimelb.edu.au/profile/26106-vijaya-sundararajan"
            >
                Professor Vijaya Sundararajan</a
            >,
            <em> Clinical Epidemiologist </em>
        </div>
    </li>
    <li>
        <div class="profile">
            <div class="frame">
                <img alt="" src="/img/profile-pictures/DAO.jpg" />
            </div>
        </div>
        <div class="details">
            <a
                href="https://findanexpert.unimelb.edu.au/profile/242956-driss-ait-ouakrim"
            >
                Dr Driss Ait Ouakrim</a
            >,
            <em>Research Fellow in Epidemiology</em>
        </div>
    </li>
    <li>
        <div class="profile">
            <div class="frame">
                <img alt="" src="/img/profile-pictures/SRM.jpg" />
            </div>
        </div>
        <div class="details">
            <a
                href="https://findanexpert.unimelb.edu.au/profile/890138-shiva-raj-mishra"
            >
                Dr Shiva Raj Mishra</a
            >,
            <em>Research Fellow in Epidemiology</em>
        </div>
    </li>
    <li>
        <div class="profile">
            <div class="frame">
                <img alt="" src="/img/profile-pictures/JS.jpg" />
            </div>
        </div>
        <div class="details">
            <a
                href="https://findanexpert.unimelb.edu.au/profile/242956-driss-ait-ouakrim"
            >
                Dr Joshua Szanyi</a
            >,
            <em>Public Health Medicine Registrar</em>
        </div>
    </li>
    <li>
        <div class="profile">
            <div class="frame">
                <img alt="" src="/img/profile-pictures/TW.jpg" />
            </div>
        </div>
        <div class="details">
            <a
                href="https://findanexpert.unimelb.edu.au/profile/884197-tim-wilson"
            >
                Dr Tim Wilson</a
            >,
            <em>Simulation Modelling and Software Engineering</em>
        </div>
    </li>
    <li>
        <div class="profile">
            <div class="frame">
                <img alt="" src="/img/profile-pictures/HA.jpg" />
            </div>
        </div>
        <div class="details">
            <a href="https://twitter.com/hrs_andrabi"> Hassan Andrabi</a>,
            <em>Simulation Modelling and Software Engineering</em>
        </div>
    </li>
    <div class="spacer" style="padding: 15px 0"></div>
</ul>
<section class="alt">
    <h2 class="aligned-title">Our collaborators</h2>
    <p>
        The Population Intervention Unit benefits from the collaboration of many
        Australasian and international collaborations, including:
    </p>
    <ul>
        <li>
            The Burden of Disease Epidemiology, Equity and Cost-Effectiveness
            Programme (BODE3) at the University of Otago, Wellington, NZ. (Prof
            Blakely directed this programme from 2010-19 and continues as a
            Co-Director.)
        </li>
        <li>
            The Dietary Interventions: Evidence & Translation (DIET) Programme
            at the University of Auckland, NZ.
        </li>
        <li>
            The Institute of health Metrics and Evaluation (home of the Global
            Burden of Disease Study), University of Washington - with whom PI is
            collaborating with building the next-generation VIVARIUM simulation
            model.
        </li>
    </ul>
    <div class="spacer" style="padding: 15px 0"></div>
    <h2 class="aligned-title">Funding</h2>
    <p>
        The Population Interventions Unit receives strategic funding by the
        University of Melbourne, and funding through its projects from:
    </p>
    <ul>
        <li>The Australian Institute of Health and Welfare (league tables)</li>
        <li>
            The Health Research Council of New Zealand (health star rating [HSR]
            and tobacco projects).
        </li>
        <li>National Health and Medical Research Council (NHMRC)</li>
        <li>Philanthropy</li>
    </ul>
</section>
