.heatmap-container {
	position: relative;
}

.heatmap {
	width: 90% !important;
	max-width:1000px !important;
	overflow: scroll;
	border-collapse: separate;
	border-spacing: 0;
	/* border-left: 1px solid #cde6ff; */
	/* border-right: 1px solid #cde6ff; */
	margin-left: auto;
	margin-right: auto;
}

.heatmap * {
	font-size: 9 !important;
	font-family: 'Source Sans Pro', 'Gill Sans', 'Trebuchet MS', Arial, sans-serif !important;
}

.heatmap td {
	padding: 0.1rem 0.2rem !important;
	min-width: 50px !important;
	/* background-color: red; */
}

.heatmap th {
	padding: 0 0.5rem !important;
	min-width: 90px !important;
}

.heatmap .fixed {
	position: -webkit-sticky !important;
	position: sticky !important;
	background-color: #fff !important;
	outline: 1px solid #cde6ff !important;
	border:none !important;
	outline-offset: -1px !important;
	z-index: 2 !important;
	top: 0 !important;
}

.col-1 {
	left: 0px;
}

.col-2 {
	left: 92px;
}